.card {
    padding: 2rem;
    border-radius: 4px;
    margin-bottom: 2rem;
}
.p-button.p-button-icon-only { border-radius: 0;
} .image-gallery { text-align: center; padding: 1rem;
}
.p-button.p-button-icon-only {
    min-width: auto;
    min-width: 100%;
}