<div class="footer">
    <div class=" p-grid">
        <div class="profileschool p-col-6">
            <p><b>Cơ Quan Tổ Chức :</b> Trường THCS Trần Phú</p>
            <p><b>Trụ sở chính:</b> THCS Trần Phú - 135 Thống Nhất - TT Liên Nghĩa - Đức Trọng - Lâm Đồng</p>
            <p><b>Email :</b> tranphuthcs@gmail.com</p>
        </div>
        <div class=" personshool p-col-6">
            <p><b>Chịu trách nhiệm giám sát và quản lý : </b><em>Cao Thị Mỹ Hạnh </em></p>
            <p><b>Chịu trách nhiệm nội dung : </b><em>Dương Thị Thu Nga</em></p>
            <p><b>Chịu trách nhiệm bộ môn : </b><em>Tạ Quang Thịnh(Trưởng Nhóm), Vy Thị Minh Thủy </em></p>
        </div>
    </div>
</div>