.avatar {

  p-avatar{
    cursor: pointer;
    position: relative;
    display: flex;
  }

  p-avatar:hover{
    i {
      opacity: .8;
      display: flex;
      color: #fff;
    }
  }

  i {
    position: absolute;
    width: 64px;
    height: 64px;
    background: #333;
    display: flex;
    justify-content: center;
    color: #fff;
    align-items: center;
    border-radius: 50%;
    opacity: 0;
    cursor: pointer;
    transition: all 500ms;
  }
}

