<div class=" p-grid">
    <div class="p-col-3">
        <img class="gif" src="assets/images/gif_animation.gif">
    </div>
    <div class="p-col-6">
        <div class="p-field">
            <h1 style="text-align: center;">Lấy Lại Mật Khẩu Của Bạn</h1>
        </div>
        <div class="p-fluid">
            <div class="p-field">
                <label for="email" class="p-mr-2">Tài khoản</label>
                <input id="email" type="email" aria-describedby="email-help" pInputText placeholder="Email ( Nhập đúng định dạng Mail)"/>
            </div>
            <div class="footer-button-login">
                <button pButton type="button" label="Lấy Mật Khẩu" class="p-button-info p-col-3 p-mr-4 p-text-bold"
                    ></button>
            </div>

        </div>
    </div>
    <div class="p-col-3">
        <img class="gif" src="assets/images/gif_animation.gif">
    </div>
</div>