<p-table #dt [value]="chapters" [rows]="10" [loading]="loading"
    [globalFilterFields]="['chaptername','block.blockname','mathDesign.mathDesignName']" [rowHover]="true" dataKey="id"
    currentPageReportTemplate="Hiển thị {first} đến {last} của {totalRecords} bản ghi" [showCurrentPageReport]="true"
    [(selection)]="selectedChapter" (onRowSelect)="onRowSelectOrUnSelect()"
    (onRowUnselect)="onRowSelectOrUnSelect()" (onHeaderCheckboxToggle)="onRowSelectOrUnSelect()">
    <ng-template pTemplate="caption">
        <div class="p-d-flex p-ai-center p-jc-between">
            <h2 class="p-m-0">QUẢN LÍ CHƯƠNG</h2>
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target?.value, 'contains')"
                    placeholder="Tìm kiếm..." />
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <p-toolbar styleClass="p-mb-4" *ngIf="isDynamic">
            <ng-template pTemplate="left">
                <button pButton pRipple label="Xóa" icon="pi pi-trash" class="p-button-danger"></button>
            </ng-template>

        </p-toolbar>
        <tr>
            <th style="width: 3rem;">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="chaptername">Tên Chương <p-sortIcon field="chaptername"></p-sortIcon>
            </th>
            <th *ngIf="!isDynamic" pSortableColumn="block">Tên Khối <p-sortIcon field="block"></p-sortIcon>
            </th>
            <th  *ngIf="!isDynamic"pSortableColumn="mathDesign">Tên Phân Môn <p-sortIcon field="mathDesign"></p-sortIcon>
            </th>
            <!-- <th pSortableColumn="createdBy">Người Tạo <p-sortIcon field="createdBy"></p-sortIcon>
            </th>-->
            <th pSortableColumn="createdDate">Ngày Tạo<p-sortIcon field="createdDate"></p-sortIcon>
            </th>
            <th *ngIf="!isDynamic"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-c>
        <tr>
            <td style="width: 3rem;">
                <p-tableCheckbox [value]="c"></p-tableCheckbox>
            </td>
            <td ><p-badge severity="info" value="{{c.chaptername}}" styleClass="p-mr-2"></p-badge></td>
            <td *ngIf="!isDynamic"><p-badge severity="success" value="{{c.block.blockname}}" styleClass="p-mr-2"></p-badge></td>
            <td *ngIf="!isDynamic"><p-badge severity="warning" value="{{c.mathDesign.mathDesignName}}" styleClass="p-mr-2"></p-badge></td>
            <!-- <td>{{c.createdBy || 'admin'}}</td> -->
            <td><p-badge value="{{c.createdDate | date : 'dd/MM/yyyy'}}" styleClass="p-mr-2"></p-badge></td>
            <td *ngIf="!isDynamic" >
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editChapter(c)"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteChapter(c)"></button>
            </td>
        </tr>
    </ng-template>
</p-table>
<p-paginator [rows]="rows" [totalRecords]="totalRecords" [rowsPerPageOptions]="rowsPerPageOptions" (onPageChange)="onPaginate($event)"></p-paginator>
<div class="p-d-flex p-ai-center p-jc-between">
    Hiển Thị {{totalRecords}} trên {{rows}}
</div>
